<header>
	<nav>
		<a href="http://www.ladysith.com/">Blog</a>
		<a href="">Resume</a>
	</nav>

	<svg viewBox="0 0 1200 400" preserveAspectRatio="xMidYMin meet">
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="68%"
          class="text--line"
          >
      Sithe Ncube
    </text>

  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
  </g>

</svg>

</header>
